<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="text/javascript">var __tcaExcludeHostedCss=true;</script>
    <script type="text/javascript" src="http://typecast.com/project_css/formism/20505085b51d84.js"></script>

    <script type="text/javascript" src="{{asset "/js/processing.js"}}"></script>

    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "/css/screen.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer">
        <div class="inner">
            <section>
                <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">rss</span></a>
            </section>
             <section class="copyright">cc-by-nc-sa <a href="{{@blog.url}}/">helena shomar/{{@blog.title}}</a> {{date format="YYYY"}}</section>
             <section>
                 webwizardy <a href="http://formism.net">duong tam kien (formism)</a>
             </section>
             <section class="poweredby"><a class="icon-ghost" href="https://ghost.org">ghost</a></section>
        </div>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

</body>
</html>
